.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.without-hooks,
.with-hooks {
  border: 1px solid #e2e2e2;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.with-hooks span,
.without-hooks span {
  font-size: 36px;
  font-weight: 700;
}
